@import "tailwindcss";

/* @import url(''); */
body{
    font-family: "DM sans",sans-serif;
    background: #d3e0e6;
    background: linear-gradient(90deg, rgba(211, 224, 230, 1) 0%, rgba(182, 221, 224, 1) 51%, rgba(116, 197, 204, 1) 100%);
    background-size: cover;
   
   
}


.navbar{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 20px;
    background: radial-gradient(50% 50% at 50% 50%, #ffffff 15%, #dee7f5 85%);
    /* position: fixed; */
    z-index: 999; /* ensures it's on top of other elements */
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button{
    background-color: oklch(0.64 0.12 180.85);
    padding: 0.5rem 0.6rem;
    border-radius: 10px;
    color: white;
    margin: 0.2rem;
    
}
button:hover{
    background-color: oklch(0.6 0.12 180.43);
}